body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ccd7e7;
    color: white;
    font-family: Arial, sans-serif;
}

h2 {
    margin-bottom: 20px;
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #61dafb;
    color: #282c34;
    transition: background-color 0.3s ease;
}

.card {
    background: #444c56;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #21a1f1;
}